.background-custom {
    display: flex;
    width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(250, 55, 55, 0.5)),
    url("https://imgur.com/odYBcCI.jpeg");
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(250, 55, 55, 0.5)),
    url("https://imgur.com/zsaMtPr.jpeg"); */
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(250, 55, 55, 0.5)),
    url("https://imgur.com/4J1s1s3.jpeg"); */
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(250, 55, 55, 0.5)),
    url("https://imgur.com/0Ur5Kqr.jpeg"); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0%;
    top: 0%;
    margin: 0%;
}

.container {
    width: 100%;
    height: 100vh;
}

.central-page {
    position: relative;
}

.welcome_1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #d32f2f;
    /* color: #ffffff;
    text-shadow: 0px 2px 5px rgba(24, 24, 24, 0.5); */
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 60px;
    /* text-transform: uppercase; */
    margin-top: 4.5rem;
    margin-bottom: -0.5rem;
    letter-spacing: 10px;
    font-style: bold;
    text-transform: uppercase;
    animation: bounceIn 2s;
    animation-timing-function: ease-in-out;
}

.welcome_2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #d32f2f;
    /* color: #ffffff;
    text-shadow: 0px 2px 5px rgba(24, 24, 24, 0.5); */
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 26px;
    /* text-transform: uppercase; */
    margin-bottom: -1rem;
    letter-spacing: 2px;
    font-style: bold;
    animation: bounceIn 2s;
    animation-timing-function: ease-in-out;
}

.welcome_3 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #d32f2f;
    /* color: #ffffff;
    text-shadow: 0px 2px 5px rgba(24, 24, 24, 0.5); */
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 26px;
    /* text-transform: uppercase; */
    margin-bottom: 40px;
    letter-spacing: 2px;
    font-style: bold;
    animation: bounceIn 3s;
    animation-timing-function: ease-in-out;
}

@keyframes bounceIn {
    0%{
      transform: scale(0.1);
      opacity: 0;
    }
    
    25%{
      transform: scale(1.2);
      opacity: 1;
    }
   
    45%{
      transform: scale(1.0);
    }
    
    65%{
      transform: scale(1.05);
      opacity: 1;
    }
   
    100%{
      transform: scale(1.0);
    }

}

.welcomeContent_1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #1c1c1c;
    margin-bottom: -12px;
    text-transform: uppercase;
    /* color: #ffffff;
    text-shadow: 0px 2px 5px rgba(24, 24, 24, 0.85); */
    animation: bounceInLeft 2s;
    animation-timing-function: ease-in-out;
}

.welcomeContent_2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #1c1c1c;
    /* margin-bottom: -15px; */
    text-transform: uppercase;
    /* color: #ffffff;
    text-shadow: 0px 2px 5px rgba(24, 24, 24, 0.85); */
    animation: bounceInLeft 2s;
    animation-timing-function: ease-in-out;
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	60% {
		-webkit-transform: translateX(20px);
	}

	80% {
		-webkit-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

.buttons {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    justify-content: center; 
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, 100%);
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		transform: translateX(-20px);
	}

	80% {
		transform: translateX(5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.separator {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: #1c1c1c;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 15px;
    /* letter-spacing: 1px; */
    margin-left: 4rem;
    margin-right: 4rem;
    text-transform: uppercase;
    animation: bounceInRight 2s;
    animation-timing-function: ease-in-out;
}


.signIn-button {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    /* overflow: hidden; */
    cursor: pointer;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    padding: 16px;
    width: 17rem;
    border-radius: 10px;
    /* background: #d32f2f; */
    animation: bounceInRight 2s;
    animation-timing-function: ease-in-out;
    background: linear-gradient(0deg, #c22c2c 0%, #ee3b3b 100%);
    box-shadow: inset 0px 1px 1px 0px #ffbbbb80, 3px 3px 7px 0px rgba(26, 0, 34, 0.1),
    3px 3px 4px 0px #1a00221a; 
}

.signIn-button:hover {
    background: #cc2e2e;
}

.signIn-button:active {
    background: #d43333;
    box-shadow: 1px 1px 4px 0px rgba(26, 0, 34, 0.1),
    2px 2px 4px 0px #1a00221a; 
}

.signUp-button {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    padding: 16px;
    width: 17rem;
    border-radius: 10px;
    /* background: #d32f2f; */
    animation: bounceInRight 2s;
    animation-timing-function: ease-in-out;
    background: linear-gradient(0deg, #c22c2c 0%, #ee3b3b 100%);
    box-shadow: inset 0px 1px 1px 0px #ffbbbb80, 3px 3px 7px 0px rgba(26, 0, 34, 0.1),
    3px 3px 4px 0px #1a00221a; 
}

.signUp-button:hover {
    background: #cc2e2e;
}

.signUp-button:active {
    background: #d43333;
    box-shadow: 1px 1px 4px 0px rgba(26, 0, 34, 0.1),
    2px 2px 4px 0px #1a00221a; 
}