/* .content {
    border: none !important;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: initial; 
} */

.MuiFormLabel-root.Mui-focused {
    color: green !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: green !important;
}