.background-image-home {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: initial; 
    /* (overflow-x: initial) Rešava dupli vertikalni skrolbar, prilikom setError-a*/ 
}

.register-form {
    margin-top: 1.5rem;
}