.app-bar-1 {
    background: linear-gradient(0deg, #c22c2c 0%, #f64d4d 100%) !important;
    box-shadow: inset 0px 2px 2px 0px #ecbbff80, 5px 5px 10px 0px rgba(26, 0, 34, 0.1),
        4px 4px 5px 0px #1a00221a !important;
    height: 80px !important;
    width: 100% !important;
    position: relative;
    overflow: hidden;
}

.toolbar-1 {
    margin-top: -0.55rem;
    margin-left: -1.5rem;
}


.home {
    color: #ffffff;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 800 !important;
    font-size: 15px !important;
    text-transform: uppercase;
    letter-spacing: 2px !important;
    text-decoration: none;
    padding-left: 42%;
}

.language-dropdown {
    margin-top: -1.5rem;
}

/* /////////////////////////////////////////////////// */
/* Responsiveness */
@media screen and (max-width: 1200px) {
    .home {
        padding-left: 45% !important;
    }

}

@media screen and (max-width: 992px) {
    .home {
        padding-left: 51% !important;
    }

    .logo {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

}

@media screen and (max-width: 768px) {
    
}

/* @media screen and (max-width: 600px) {} */

/* @media only screen and (max-width: 360px) {} */