.background-image-admin {
    position: relative;
    display: flex;
/*     align-content: center;
    justify-content: center; */
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.css-ef9s1f-MuiTableCell-root.MuiTableCell-head {
    background-color: #239823;
    /* background-color: #a7e845; */
}

.css-11sjzaf-MuiTableCell-root.MuiTableCell-head {
    background-color: #067906;
}

.css-12zk7gw-MuiTableCell-root.MuiTableCell-body {
    background-color: rgb(189, 233, 174);
}