body {
    background-image: url("malitraktor.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input {
    background: none;
    border: 4px solid #eee;
    font-family: inherit;
    color: inherit;
    color: aquamarine;
    font-size: 2rem;
    text-align: center;
    display: block;
}

input:hover {
    border: 4px solid #4CAF50
}

button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}

button:hover {
    background-color: brown;
}

h1 {
    background: #eee;
    text-align: center;
    color: #909560;
}

p {
    color: rgb(241, 255, 50);
    font-size: 2rem;
    
}

.bojaLabela {
    color:darkorange;
    font-size: large;
    font-size: 2rem;
}

section {
    margin-left: 500px;
}

img {
    height: 7rem;
    width: 7rem;
}

