.background-image-profile {
    /* position: relative; */
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: initial; 
    /* (overflow-x: initial) Rešava dupli vertikalni skrolbar, prilikom setError-a*/ 
}

h6 .MuiTypography-root .MuiTypography-h6 .css-1crwful-MuiTypography-root {
    text-align: center !important;
}
