.background-image-profile {
    /* position: relative; */
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: initial; 
    /* (overflow-x: initial) Rešava dupli vertikalni skrolbar, prilikom setError-a*/ 
}

/* .page-title {
    color: green;
    text-align: center;
} */

/* .welcome-message {
    color: green;
    text-align: center;
    font-size: 26px;
} */

/* .profile {
    text-align: center;
    color:darkgreen;
    border: solid darkgreen 4px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
    background-color: azure;
} */



